* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navigation-container {
  width: 100%;
  height: 20%;
  background-color: #ea272d;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.20);
  position: fixed;
  top: 0px;
}
.navigation-content {
  margin: 3% 5%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10%;
}
.menu ul {
  display: flex;
}
.menu ul li a {
  padding: 0px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
.cart img {
  height: 10vh;
}
.cart a {
  color: #FFFFFF;
  font-weight: bold;
}